node_modules/
.next/
out/
.env
.env.local
.env.*.local
*.log
.DS_Store
Thumbs.db
prisma/dev.db
prisma/dev.db-journal
public/uploads/*
!public/uploads/.gitkeep
public/generated/*
!public/generated/.gitkeep
